{% extends "_base.html" %}

{% block main %}


<div class="b-divider m-project-coaching">
</div>

<section id="course-detail-title">
  <div class="b-page-section m-teal">
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
        <div class="column large-9">
          <h2>{{name}} </h2>
        </div>
        <div class="column large-3 end">
          <ul class="e-certifications-ul">
            {% if certificates.blended %}          
              <li>
                <span>Blended</span>
                <img src="./img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
              </li>
            {% endif %}

            {% if certificates.online %}
              <li>
                <span>Online</span>
                <img src="./img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
              </li>
            {% endif %}

            {% if certificates.in_person %}
              <li>
                <span>In Person</span>
                <img src="./img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
              </li>
            {% endif %}

            {% if certificates.for_certificate %}
              <li>
                <span>For Certification</span>
                <a href="./about.html#badges"><img src="./img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification"></a>
              </li>
            {% endif %}

            {% if certificates.for_credit %}
            <li>
              <span>For Credit</span>
              <img src="./img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
            </li>
            {% endif %}
            
          </ul>
        </div>
      </div> <!-- END PAGE TOP SECTION row -->
    </div> <!-- END PAGE TOP SECTION -->
  </div>
</section>


<!-- ADD SHARE BUTTON -->

<section id="course-detail-calendar">
  <div class="b-page-section m-teal">
    <div class="b-dates row">
      <div class="large-10 large-offset-1 columns end">
        <div class="column large-4">
          <span><i class="fa fa-calendar fa-lg"></i></span>
          <h5>Starts the week of </h5>
          <h4>{{date.week_start}}</h4>
        </div>
        <div class="column large-4">
          <span><i class="fa fa-calendar fa-lg"></i></span>
          <h5>Course ends on</h5>
          <h4>{{date.end}}</h4>
        </div>
        <div class="column large-4">
          <span><i class="fa fa-calendar fa-lg"></i></span>
          <h5>Application Deadline</h5>
          <h4>{{date.application}}</h4>
        </div>
      </div>
      <div class="row">
        <a href="./application.html" target="_blank">
          <div class="large-3 large-offset-1 columns end columns b-button">
            <h3>Apply</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section id="course-details">

<div class="b-page-section">
  <div class="row">
		<div class="large-10 large-offset-1 columns end">
			<h3>{{passion.title}}</h3>
			<ul class="b-list">
				{% for item in passion.bullets %}
					<li>{{ item | safe }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="b-divider m-centered">
	<h3>Course Description</h3>
</div>

<div class="b-page-section">
  <div class="row">
    <div class="large-10 large-offset-1 columns end">
			<p>{{description_long | safe}}</p>
		</div>
	</div>
</div>

<div class="b-divider m-centered">
  <h3>Course Format</h3>
</div>

<div class="b-page-section">
  <div class="row">
    <div class="column large-5 large-offset-1 columns end">
      <p>{{format}}</p>
      <div class="b-format">
      {% if when %}
        <p>Online sessions will be held <strong>{{when}}</strong></p>
        {% if when_plus %}<p><em>{{when_plus}}</em></p>{% endif %}
      {% endif %}
      <p><strong>Course Duration:</strong> {{duration}}</p>
      </div>
    </div>

    <div class="column large-5">
      {% if more_info %}
      <h3>More Information</h3>
      {% for item in more_info %}
        <p>{{ item | safe }}</p>
      {% endfor %}
      <a href="./coaching-programs.html#faqs" class="b-button">FAQs<i class="material-icons">arrow_forward</i></a>
      {% else %}
        <h3>For more information</h3>
        <a href="./coaching-programs.html#faqs" class="b-button">FAQs<i class="material-icons">arrow_forward</i></a>
      {% endif %}
    </div>
  </div>
</div>

  {% if resources %}
<div class="b-divider m-centered">
  <h3>Resources</h3>
</div>

<div class="b-page-section">
  <div class="row">

  <div class="row b-content-section">
    <div class="column large-5 large-offset-1 columns end">
    </div>
    {% for resource in resources %}
    <div class="column large-5">
      <h3>{{resource.title}}</h3>
      <ul class="b-list">
      {% for item in resource.resource_item %}
        <li><a href="{{item.link}}">{{item.label}}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  </div>
</div>


<div class="b-divider m-centered">
  <h3>Faculty Members</h3>
  
</div>

  <div class="row b-content-section">
    <div class="large-10 large-offset-1 columns end">
    <!-- CREATE GULP FILTER TO FIND PERSON  AND THEN ADD TEAM CARD MODULES-->
        <!-- <p>{{faculty_members | returnPerson}}<p> -->
    </div>
  </div>

</section> <!-- END COURSE DETAILS SECTION -->

  <section id="contact-message">
  <div class="b-page-section">
      <div class="b-dates row">
        <div class="large-10 large-offset-1 columns end">
        <h4>Still hungry for more information?</h4>
        <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
      </div>
    </div>
  </section>


{% endblock %}