{% extends '_base.html' %}
{% block main %}



<header class="b-top-section m-purple m-centered">
    <div class="row">
        <div class="large-10 large-offset-1 columns end">
            <h2>About Us</h2>
            <h3>Whether taken in person or online, the GovLab Academy’s courses, clinics, coaching programs, and workshops offer a flipped learning experience. There are no experts at the front of the room or the top of the screen delivering packaged content to passive learners.</h3>
        </div>
    </div>
</header>


  <section id="about-govlab-academy">
    <div class="b-page-section">
      <div class="row">
        <div class="large-10 large-offset-1 columns">
          <p>The goal of the GovLab Academy is to train public problem solvers – what we call public entrepreneurs – to use technology to create implementable engagement projects with the ultimate objective of improving people’s lives.</p>
          <p>We do not measure success by levels of enrollment but by the impact participant projects create.</p>
          <p>Ultimately, you are at the center of everything we do – a public entrepreneur working on real projects in real communities. Around you we organize the relevant materials, mentor and coaching networks, training exercises, and practice sessions. For you we curate readings and videos, gather examples of best practice, design process interventions, provide critiques and advice, and make introductions to experts.</p>
          <p>Over the last three years, in a series of Masters-level academic courses and online and off-line workshops and coaching programs, the GovLab and its network of 25 world-class instructors and coaches and over 100 mentors have trained 446 participants in more than a dozen US cities and thirty foreign countries to take a public interest technology project from idea to implementation. <a href="#">FOR MORE ABOUT WHAT WE HAVE LEARNED</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="about-govlab">
    <div class="b-divider m-centered">
      <h3>The GovLab</h3>
    </div>
    <div class="b-page-section">
      <div class="row">
        <div class="large-3 large-offset-1 columns">
          <div class="govlab-logo"><a href="http://thegovlab.org/" target="_blank"><img id="govlab-about-img" src="../img/govlab-logo.png" alt="The GovLab"></a></div>
        </div>
        <div class="large-7 column end">
          <p>The GovLab is an action-research center with a mission to improve people’s lives by changing the way we govern. We aim to accomplish this by leveraging advances in technology to enable more open, collaborative, effective, and legitimate ways to make better decisions and solve public problems.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="certificates-and-badges">
    <div class="b-divider m-centered">
      <h3>Certificates and Badges</h3>
    </div>
    <div class="b-page-section">
      <div class="row">
        <div class="large-7 large-offset-1 columns">
          <p>Non-credit online participants who complete the program receive an authenticated Certificate and Badge. Badges are open, portable and "stackable" with other badges. </p>
          <p>Badges can be displayed as a credential by incorporating into a resume or website. GovLab Academy will maintain a registry of all badge recipients. For successful participants the program could serve as a gateway to opportunities to compete for a range of Fellowship and funding opportunities, including from the Knight Foundation, the D-Prize, GovLab and more.</p>
          <p><a href="http://www.macfound.org/programs/digital-badges/" target="_blank">More about digital badges and micro-credentials.</a></p>
        </div>
        <div class="column large-3 end">
          <img id="badge-system-img" src="../img/standard-badge.png" alt="The GovLab Academy Badge System">
        </div>
      </div>
    </div>
  </section>

<section id="team-cards">
  <div class="b-divider m-centered">
    <h3>Faculty Members</h3>
  </div>  
  <div class="b-page-section">
    <div class="row">
      <div class="large-11 large-offset-1 columns end">
      {% for person in people %}
        {% if person.is_govlab %}
          <div class="e-card m-purple js-open-modal" data-open="#modal-{{person.name.slug}}">
        {% endif %}
        {% if not person.is_govlab %}
          <div class="e-card m-orange js-open-modal" data-open="#modal-{{person.name.slug}}">
        {% endif %}
          <div class="e-card-inner">
          <!-- uncomment to add a background image to the card -->
          <div class="e-card-image" style="background-image: url('./img/faculty/{{person.name.slug}}.jpg')"></div>
            <p class="e-card-name">{{person.name.first}} {{person.name.last}}</p>
            <p class="e-card-description">{{person.job}}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>

<section>
<!-- MODALS CONTENT -->
      {% for person in people %}
          <div class="b-modal" id="modal-{{person.name.slug}}">
              <div class="e-content">
                  <h2>{{person.name.first}} {{person.name.last}}</h2>
                  <h3>{{person.job}}</h3>
                  <h4>Connect</h4>
                  <p>{{person.description}}</p>
                  {% if person.link.url %}
                    <p>URL{{person.link.url}}</p>
                  {% endif %}   
                  {% if person.link.twitter %}
                    <a href="{{person.link.twitter}}">tweet</a>
                  {% endif %}   
                  {% if person.link.linkedin %}
                    <a href="{{person.link.linkedin}}">linkedin</a>
                  {% endif %}  
                  {% if person.link.github%}
                    <a href="{{person.link.github}}">github</a>
                  {% endif %}    
                  {% if person.link.email %}
                    <a href="{{person.link.email}}">email</a>
                  {% endif %}   
                  <p class="e-buttons">
                    <a class="b-button js-close-modal m-dark m-icon-only" href="#">Close</a>
                    <a class="b-button js-close-modal m-naked m-icon-only" href="#"><i class="material-icons">close</i></a>
                  </p>
            </div>
        </div>

      {% endfor %}
  <!-- Modals END -->
</section>

  

{% endblock %}