{% extends '_base.html' %}
{% block main %}

<header class="b-top-section m-purple m-centered">
    <div class="row">
        <div class="large-10 large-offset-1 columns end">
            <h2>About Us</h2>
        </div>
    </div>
</header>

<section id="about-govlab-academy">
  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p>The goal of the GovLab Academy is to train public problem solvers – what we call public entrepreneurs – to use technology to create implementable engagement projects with the ultimate objective of improving people’s lives.</p>
        <p>We do not measure success by levels of enrollment but by the impact participant projects create.</p>
        <p>Ultimately, you are at the center of everything we do – a public entrepreneur working on real projects in real communities. Around you we organize the relevant materials, mentor and coaching networks, training exercises, and practice sessions. For you we curate readings and videos, gather examples of best practice, design process interventions, provide critiques and advice, and make introductions to experts.</p>
        <p>Over the last three years, in a series of Masters­level academic courses and online and off­line workshops and coaching programs, the GovLab and its network of 25 world­class instructors and coaches and over 100 mentors have trained 446 participants in more than a dozen US cities and thirty foreign countries to take a public interest technology project from idea to implementation.</p>
        <p><a href="#" class="b-button m-orange">FOR MORE ABOUT WHAT WE HAVE LEARNED<i class="material-icons">arrow_forward</i></a></p>
      </div>
    </div>
  </div>
</section>

<section id="about-govlab">
  <div class="b-divider m-centered">
    <h3>The GovLab</h3>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-3 large-offset-1 columns">
        <div class="govlab-logo"><a href="http://thegovlab.org/" target="_blank"><img id="govlab-about-img" src="./img/govlab-logo.png" alt="The GovLab"></a></div>
      </div>
      <div class="large-7 column end">
        <p>The GovLab is an action-research center with a mission to improve people’s lives by changing the way we govern. We aim to accomplish this by leveraging advances in technology to enable more open, collaborative, effective, and legitimate ways to make better decisions and solve public problems.</p>
      </div>
    </div>
  </div>
</section>

<section id="badges">
  <div class="b-divider m-centered">
    <h3>Certificates and Badges</h3>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-7 large-offset-1 columns">
        <p>Non-credit online participants who complete the program receive an authenticated Certificate and Badge. Badges are open, portable and "stackable" with other badges. </p>
        <p>Badges can be displayed as a credential by incorporating into a resume or website. GovLab Academy will maintain a registry of all badge recipients. For successful participants the program could serve as a gateway to opportunities to compete for a range of Fellowship and funding opportunities, including from the Knight Foundation, the D-Prize, GovLab and more.</p>
        <p><a href="http://www.macfound.org/programs/digital-badges/" target="_blank">More about digital badges and micro-credentials.</a></p>
      </div>
      <div class="column large-3 end">
        <img id="badge-system-img" src="./img/standard-badge.png" alt="The GovLab Academy Badge System">
      </div>
    </div>
  </div>
</section>

<section id="team-cards">
  <div class="b-divider m-centered">
    <h3>Faculty Members</h3>
    <p><a class="b-button" href="https://twitter.com/TheGovLab/lists/govlab-academy-faculty" >Follow our Faculty on Twitter<i class="fa fa-twitter"></i></a></p>

  </div>  
  <div class="b-page-section">
    <div class="row">
      <div class="large-11 large-offset-1 columns end">
      {% for person in people %}
        {% if person.is_govlab %}
          <div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal-{{person.name.slug}}">
        {% endif %}
        {% if not person.is_govlab %}
          <div class="e-card m-orange js-tooltip-trigger js-open-modal" data-open="#modal-{{person.name.slug}}">
        {% endif %}
          <div class="e-card-inner">
          <div class="e-card-image" style="background-image: url('./img/faculty/{{person.name.slug}}.jpg')"></div>
            <p class="e-card-name">{{person.name.first}} {{person.name.last}}</p>
            <p class="e-card-description">{{person.job}}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>


    <!-- MODALS CONTENT -->
    {% include 'partials/faculty.html' %}
    <!-- END MODALS CONTENT-->


{% endblock %}