{% import 'macros/course-card-macro.html' as courseCard %}
{% extends '_base.html' %}
{% block main %}

<section id="coaching-programs">

  <header class="b-top-section m-centered m-project-coaching">
      <div class="row">
          <div class="large-10 large-offset-1 columns end">
              <h2>Coaching Programs</h2>
              <h3>Geared to the purpose-driven participant inside and outside of government  (both individuals and teams) passionate about a public problem and already undertaking a project, these programs are designed to help participants develop a project from idea to implementation.</h3>
          </div>
      </div>
  </header>


  <div class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
        <h2>Programs offer </h2>
      </div>
      <div class="large-7 columns end">
        <ul>
          <li>Frequent and constructive feedback</li>
          <li>Customized and original learning materials</li>
          <li>Peer-to-peer support</li>
          <li>Introductions to global topic experts</li>
          <li>Group meetings online with the faculty for 1-2 hours: one hour is for discussion of projects by the whole group and the second hour, a guest lecture</li>
          <li>Faculty and staff online office hours with the teams to address project progress</li>
        </ul>
          <a href="http://goo.gl/forms/j403fD74Jk" class="b-button">Suggest a coaching program<i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
        <h2>Program Info</h2>
      </div>
      <div class="large-7 columns end">
          <li><strong>WHO</strong> - Public entrepreneurs with an identified project on a specific civic tech theme. Maximum of 12 individuals and/or teams per program. By application only</li>
          <li><strong>WHAT</strong> - A blend of group sessions, peer to peer coaching, expert mentoring and private "office hours" with Academy faculty</li>
          <li><strong>WHEN</strong> - Every week (for 4-5 weeks) or every other week (for 8-10 weeks)</li>
          <li><strong>WHERE</strong> - Online</li>
        </ul>
          <a href="./faqs.html" class="b-button">FAQs<i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>
  

  <div id="coaching-program-timeline">
    <div class="b-divider m-purple m-centered">
      <h2>Our Method</h2>
    </div>
    <div class="row">
      <div class="column large-12 m-centered m-orange">
        <img src="./img/coaching-diagram2.png" alt="Coaching program Lifecycle">
      </div>
    </div>
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
        <ul>
          <li>A flexible, customized program responsive to the participants’ specific needs and challenges </li>
          <li>Rigorous diagnosis of impediments to project implementation that allow us to customize
          learning;</li>
          <li>Emphasis on specific and evidence­-based problem definition to ensure that the project solves a well­defined problem;</li>
          <li>A combination of subject­-matter and skills­-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project;</li>
          <li>Peer­-to-­peer support where similarly situated public entrepreneurs counsel and support each other through challenges together;</li>
          <li>Mentoring and coaching from experts with a track record of leading successful social change;</li>
          <li>High­-quality original and curated content ,tools, and resources</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
      <h2>Current Courses</h2>

        {% for course in coaching | sortJsonAscByDate %}
            {% if course.is_active and not course.date.start | isOutdated %}
        <div class="b-course-card m-blue">
            {{courseCard.createCourseCard(course)}}
            {% if course.actions %}
              {% for button in course.actions %}
                <div class="row">
                  <div class="large-10 columns end">
                    <a href="{{course.id + ".html"}}" class="b-button">More Info<i class="material-icons">arrow_forward</i></a>
                </div>
                </div>
              {% endfor %}
            {% endif %}
        </div>
          {% endif %}
        {% endfor %}

      <h3>Past Courses</h3>
        {% for course in coaching  | sortJsonDescByDate %}
            {% if course.is_active and course.date.start | isOutdated %}
          <div class="b-course-card m-blue">
            {{courseCard.createCourseCard(course)}}
            {% if course.actions %}
              {% for button in course.actions %}
                <div class="row">
                  <div class="large-10 columns end">
                    <a href="{{course.id + ".html"}}" class="b-button">More Info<i class="material-icons">arrow_forward</i></a>
                </div>
                </div>
              {% endfor %}
            {% endif %}
    <!-- END COURSE ACTIONS -->
            {% if course.partner %}
              <h5 class="e-partner">{{course.partner}}</h5>
            {% endif %}
            </div>
            {% endif %}

        {% endfor %}

        <a href="./faqs.html" class="b-button">FAQs<i class="material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
  </div>


    <!-- MODALS CONTENT -->
    {% include 'partials/faculty.html' %}
    <!-- END MODALS CONTENT-->



</section>  

{% endblock %}



