{% extends '_base.html' %}
{% block main %}

<section id="homepage">

  <header class="b-top-section m-orange">
      <div class="row">
          <div class="column small-12">
              <h1 class="e-title">The GovLab Academy</h1>
              <h2>Coaching Public Entrepreneurs</h2>
          </div>
      </div>
  </header>

  <div class="b-divider m-purple m-centered">
    <h2>How We Work</h2>
  </div>

  <div id="govlab-canvas" class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
        <a class="e-canvas-link" href="http://canvas.govlabacademy.org/" target="_blank"><img src="./img/intro-canvas.png" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
        <div class="share-button"></div>
      </div>
    </div>
  </div>

  <div class="b-page-section m-no-padding m-orange">
    <div class="row">
      <div class="column large-11 large-offset-1 columns end">
          <h3>GovLab Academy offers passionate teams and individuals, inside and outside of government:</h3>
          <ul class="b-list">
            <li>A flexible, customized program responsive to the participants’ specific needs and challenges</li>
            <li>Rigorous diagnosis of impediments to project implementation</li>
            <li>Emphasis on specific and evidence-based problem definition to ensure that the project solves a well-defined problem</li>
            <li>A combination of subject-matter and skills-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project</li>
            <li>Peer-to-peer support where similarly situated public entrepreneurs counsel and support each other through challenges together</li>
            <li>Mentoring and coaching from experts with a track record of leading successful social change</li>
            <li>High-quality original and curated content ,tools, and resources</li>
          </ul>
        </div>
    </div>
  </div>

  <div class="b-divider m-no-padding">
    <div class="row">
      <div class="e-content-box large-3 columns m-project-coaching">
        <a class="b-button m-naked m-block js-mobile-anchor" href="./coaching-programs.html">
            <h2>Coaching Programs</h2>
            <p class="e-explanation">Online coaching sessions designed to help purpose-driven participants take an existing project from idea to implementation. Sessions meet every week for 5 weeks or every other week for 10 weeks. Limited to 10 teams or individuals.</p>
        </a>
      </div>
      <div class="e-content-box large-3 columns m-workshops">
        <a class="b-button m-naked m-block js-mobile-anchor" href="./workshops.html" target="_blank">
            <h2>Workshops</h2>
            <p class="e-explanation">Customized 1-3 day, hands on, in-person working sessions for city and government agency-based teams on specific issues and challenges at one or another stage of the governance innovation process.</p>
        </a>
      </div>
      <div class="e-content-box large-3 columns m-master-classes">
        <a class="b-button m-naked m-block js-mobile-anchor" href="./master-classes.html" target="_blank">
            <h2>Master Classes</h2>
            <p class="e-explanation">Masters and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
        </a>
      </div>
      <div class="e-content-box large-3 columns m-regular-courses">
        <a class="b-button m-naked m-block js-mobile-anchor" href="./regular-courses.html">
            <h2>Courses and Project Clinics</h2>
            <p class="e-explanation">Graduate and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
        </a>
      </div>
    </div>
  </div>


  <div class="b-subscribe m-mailing-list">
    <div class="e-wrap">
        <div>
            <h4><strong>Subscribe</strong>
            Academy Mailing List</h4>
        </div>
        <form method="post" action="//openinggovernment.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=6fa8847675" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>

             <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
  </div>


  <div id="network-of-innovators-banner" class="b-page-section m-blue m-centered">
    <div>
        <h2>Connect with our Community</h2>
        <h3> Network of Innovators</h3>
        <h5>The skill-sharing network for public entrepreneurs worldwide</h5>
    </div>
        <a class="b-button" href="https://networkofinnovators.org/" target="_blank"><div>Sign Up</div></a>
  </div>


  <div id="govlab-digest" class="b-divider m-purple">
    <div id="slider-div" class="b-slider slick m-no-padding">
    <!-- POPULATED BY XML from feed.js-->
    </div>
  </div>

  <!-- pulled from www.govlab -->
  <div id="govlab-digest-signup"  class="b-subscribe m-digest">
    <div class="e-wrap">
      <div>
          <h4><strong>Subscribe</strong>
          The GovLab Digest</h4>
          <p>A weekly curation of new findings and developments on innovation in governance</p>
      </div>
      <form method="post" action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" target="_blank" >
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>

          <input type="email" name="EMAIL" placeholder="Email">
          <button type="submit">Subscribe</button>
      </form>
    </div>

    <div class="e-wrap">
        <p><a href="http://thegovlab.org/category/govlab-digest/" target="_blank" class="b-button m-naked">Go to Digest<i class="material-icons">arrow_forward</i></a></p>
    </div>
  </div>

  <div id="demos-for-democracy" class="b-divider">
    <a href="http://thegovlab.org/category/democracy-demos/" target="_blank"><div></div></a>
  </div>

</section>

<script src="/js/feed.js"></script>
{% endblock %}



