{% extends '_base.html' %}
{% block main %}
<h1>Content from index file</h1>

<div class="testing-data">
DEENNNNNNEYYYYYY

<h2>COACHING.JSON</h2>
{% for course in coaching %}
<p>{{course.name}}</p>
{% endfor %}
</div>

<h2>PEOPLE.JSON</h2>
{% for person in people %}
<p>{{person.name.first}} {{ person.name.last }}</p>
{% endfor %}

<h2>CLINICS</h2>
{% for clinic in clinics %}
<h3>{{clinic.name}}</h3>
<p>{{clinic.description_short}}</p>
{% endfor %}

<h2>PROJECT GALLERY</h2>
{% for project in projects %}
  <h3>{{project.title}}</h3>
  {% for image in project.images%}
  {{hello}}
  <img src="../img/projects/{{image}}">
  {% endfor %}
{% endfor %}


{% endblock %}



 

