{% extends '_base.html' %}
{% block main %}
<div id="library-page" class="b-content-page">
	<div class="b-page-title">
    <div class="row">
      <div class="column large-12">
    		<h2>Library</h2>
        <p>Selected Readings</p>
      </div>
  	</div>
	</div>
<!-- BEGIN LIBRARY INFO - NEED TO FORMAT  and ADD FILTERS_ JUST DISPLAYING INFO RIGHT NOW -->
<section class="row b-content-section">
  <div class="row">
    <div class="column large-12">
      {% for item in library %}
        <p><strong>Title:</strong> <a href="{{item.url}}">{{item.title}}</a></p>
        <p><strong>Description:</strong> {{item.description}}</p>
        <p><strong>Tags:</strong> {{item.tags}}</p>
        <p><strong>Content Type:</strong> {{item.content_type}}</p>
      {% endfor %}
    </div>
  </div>
</section>
<!-- END LIBRARY INFO -->

	<section id="contact-message" class="row b-content-section">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </section>
</div>
{% endblock %}