{% extends '_base.html' %}
{% block main %}

<section id="library">

<header class="b-top-section m-orange m-centered">
    <div class="row">
        <div class="large-10 large-offset-1 columns end">
            <h2>Library</h2>
            <h3>Selected Readings</h3>
        </div>
    </div>
</header>




<!-- BEGIN LIBRARY INFO - NEED TO FORMAT  and ADD FILTERS_ JUST DISPLAYING INFO RIGHT NOW -->
<div class="row b-page-section">
  <div class="row">
    <div class="large-10 large-offset-1 columns end">
      {% for item in library %}
        <div class="b-course-card">
          <h4><strong>Title:</strong> <a href="{{item.url}}">{{item.title}}</a></h4>
          <p><strong>Description:</strong> {{item.description}}</p>
          <p><strong>Tags:</strong> {{item.tags}}</p>
          <p><strong>Content Type:</strong> {{item.content_type}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- END LIBRARY INFO -->

<div id="contact-message" class="b-page-section">
  <div class="row">
    <div class="large-10 large-offset-1 columns end">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </div>
</div>

</section>
{% endblock %}