{% extends "_base.html" %}
{% block main %}

<header class="b-top-section m-regular-courses">
  <div class="row">
      <div class="large-10 large-offset-1 columns end">
          <h2>The Programs We Offer</h2>
      </div>
  </div>
</header>

  
<section id="courses-overview">
<!--   <div class="b-page-divider m-project-coaching m-centered">
    <h2>Coaching Programs</h2>
  </div> -->
  <div id="project-coaching" class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
        <h2>Coaching Programs</h2>
      </div>
      <div class="large-7 columns end">
        <p>Online coaching sessions designed to help purpose-driven participants take an existing project from idea to implementation. Sessions meet every week for 5 weeks or every other week for 10 weeks. Limited to 10 teams or individuals.</p>
          <ul>
            <li><strong>WHO</strong> Public entrepreneurs with an identified project on a specific civic tech theme. Maximum of 10 individuals and/or teams per program. By application only.</li>
            <li><strong>WHAT</strong> Intensive, individualized coaching</li>
            <li><strong>WHEN</strong> Every week (for 5 weeks) or every other week (for 10 weeks)</li>
            <li><strong>WHERE</strong> Online</li>
          </ul>
        <div class="b-page-divider m-project-coaching"><a href="./coaching-programs.html" class="b-button m-naked">More Information<i class="material-icons">arrow_forward</i></a></div>
    </div>
  </div>
</div>

  <div id="workshops" class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
        <h2>Workshops</h2>
      </div>
      <div class="large-7 columns end">
        <p>Customized 1-3 day, hands on, in-person working sessions for city and government agency-based teams on specific issues and challenges at one or another stage of the governance innovation process.</p>
          <ul>
            <li><strong>WHO</strong> Teams of public entrepreneurs, especially in government or other organizations. Maximum of 24 individuals and/or 6 teams</li>
            <li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up </li>
            <li><strong>WHEN</strong> 1-3 day sessions by arrangement</li>
            <li><strong>WHERE</strong> In-person </li>
          </ul>
        <div class="b-page-divider m-workshops"><a href="./workshops.html" class="b-button m-naked">More Information<i class="material-icons">arrow_forward</i></a></div>
    </div>
  </div>
</div>


<div id="master-classes" class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
        <h2>Master Classes</h2>
      </div>
      <div class="large-7 columns end">
      <p>Masters and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
        <ul>
          <li><strong>WHO</strong> Graduate students and professionals either for credit or for certification</li>
          <li><strong>WHAT</strong> Semester-long, project-based immersion in the all the stages of designing and implementing a civic tech project; structured access to support from subject matter experts, tech experts, mentors, coaches, and peers</li>
          <li><strong>WHEN</strong> Weekly for 5, 12 or 14 weeks</li>
          <li><strong>WHERE</strong> Blended (in person and online)</li>
        </ul>
      <div class="b-page-divider m-workshops"><a href="./master-classes.html" class="b-button m-naked">More Information<i class="material-icons">arrow_forward</i></a></div>

    </div>
  </div>


  <div id="regular-courses" class="b-page-section">
    <div class="row">
      <div class="large-3 columns large-offset-1">
      <h2>Courses and Project Clinics</h2>
      </div>
      <div class="large-7 columns end">
      <p>Graduate and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
        <ul>
          <li><strong>WHO</strong> Graduate students and professionals either for credit or for certification</li>
          <li><strong>WHAT</strong>  Semester-long, case-based immersion  on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation</li>
          <li><strong>WHEN</strong>  Weekly for 5, 12 or 14 weeks</li>
          <li><strong>WHERE</strong>  Blended (in person and online)</li>
        </ul>
      <div class="b-page-divider m-regular-courses"><a href="./regular-courses.html" class="b-button m-naked">More Information<i class="material-icons">arrow_forward</i></a></div>
    </div>
  </div>
</section>

{% endblock %}
