{% extends '_base.html' %}
{% block main %}



<header class="b-top-section m-blue">
    <div class="row">
        <div class="column small-12">
            <h2>Project Gallery</h2>
            <h3>Showcasing Innovative Civic and Governance Projects and their Evolution from Idea to Implementation. Get Inspired. Connect. Collaborate.</h3>
    <p class="e-sponsor m-centered">
      With support from <img id="knight-logo" src="../img/knight-logo-white.png" alt="Knight Foundation">
    </p>
        </div>
    </div>
</header>


<div class="b-project-list">
  <div class="b-wrap row">
    <div class="b-filter-ui">
      <!-- single select -->
      <form action="#" class="b-form">

        <div class="e-select medium-6 medium-offset-3">
          <select>
            <option value="*">Select a project category...</option>
            <option value=".open-data">Open Data</option>
            <option value=".open-contracting">Open Contracting</option>
            <option value=".data-analytics">Data Analytics</option>
            <option value=".crowdsourcing">Crowdsourcing</option>
            <option value=".collective-intelligence">Collective Intelligence</option>
            <option value=".tech-procurement">Tech Procurement</option>
            <option value=".citizen-engagement">Citizen Engagement</option>
            <option value=".big-data">Big Data</option>
            <option value=".agile-research">Agile Research</option>
            <option value=".citizen-science">Citizen Science</option>
            <option value=".humanitarian-innovation">Humanitarian Innovation</option>
            <option value=".nudges">Nudges</option>
            <option value=".communications">Communications</option>
            <option value=".legal-innovation">Legal Innovation</option>
            <option value=".open-source">Open Source</option>
            <option value=".data-science">Data Science</option>
            <option value=".service-design">Service Design</option>
          </select>
        </div>
    </form>

{# BEGIN PROJECT TILES #}

{% for project in projects %}
    <p>{{project.title}}</p>
{% endfor %}

{# END PROJEC TILES #}

</div>



{% endblock %}