{% extends '_base.html' %}
{% block main %}

<header class="b-top-section m-purple m-centered">
    <div class="row">
        <div class="large-10 large-offset-1 columns end">
            <h2>SANDBOX</h2>
        </div>
    </div>
</header>

<div class="b-page-section">
  <div class="row">
    <div class="large-10 large-offset-1 columns end">

<h2>descending filter test</h2>


      {% for datum in data  | sortJsonDescByDate %}
      <p>{{datum.date.start}} {{datum.name}}</p>
      {% endfor %}

<h2>ascending filter test</h2>

      {% for datum in data  | sortJsonAscByDate %}
      <p>{{datum.date.start}} {{datum.name}}</p>
      {% endfor %}


    </div>
  </div>
</div>
</section>

{% endblock %}

