{% extends "_base.html" %}

{% block content %}
<section class="b-single-landing">
    <div class="e-wrap">
        <div class="e-progress m-idea">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="e-progress m-prototype">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="e-progress m-testing">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="e-progress m-private-beta">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="e-progress m-public-beta">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="e-progress m-launched">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
</section>
{% endblock %}
