{% extends "_base.html" %}
{% block main %}

{# STYLE HEADER #}
<h2>Workshops</h2>


    <div class="row b-content-section">
        <section class="column large-6">
      <p>Limited enrollment (maximum class size 30; maximum number of teams, 6), customized 1-2 day, intensively “hands on,” in-person working sessions for city - and government agency-based teams preparing to wrestle with the specific issues and challenges at one or another stage of the governance innovation process</p>
      <p><strong>A few workshops, duly noted, are offered on specific dates and open to application by all</strong></p>
        </section>

        <section class="b-course-info column large-6">
        <ul>
          <li><strong>WHO</strong> Teams of civic entrepreneurs, especially in government or other organizations. Maximum of 30 individuals and/or 6 teams</li>
            <li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up</li>
          <li><strong>WHEN</strong> 1-2 day sessions by arrangement</li>
          <li><strong>WHERE</strong> In-person</li>
        </ul>
        
        </section>
    </div>  

{# BEGIN WORKSHOPS LIST #}
<section class="b-course-list row b-content-section">
    <ul class="column large-12">
    {% for course in workshops %}
        <h2>{{course.name}}</h2>
        {% if not course.is_crosslisted %}
            <li class="b-course-list-item m-workshop m-crosslisted-{{course.is_crosslisted}}">
            {% if course.date %}
                <h4 class="e-course-date">{{course.date}}</h4>
            {% endif %}
        {% endif %}
                <h3 class="e-course-name">{{course.name}}</h3>

                {# BEGIN CERTIFICATIONS - NEED TO FORMAT IMAGES#}
                <div class="e-certifications">
                  {% if course.certificates.blended %}
                    <img src="../img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
                  {% endif %}

                  {% if course.certificates.online %}
                    <img src="../img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
                  {% endif %}

                  {% if course.certificates.in_person %}
                    <img src="../img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
                  {% endif %}

                  {% if course.certificates.for_certificate %}
                  <a href="./about.html#badges"><img src="../img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification"></a>
                  {% endif %}

                  {% if course.certificates.for_credit %}
                  <img src="../img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
                  {% endif %}

                </div>
                {# END CERTIFICATIONS #}

                {# BEGIN COURSE DESCRIPTIONS #}
                <div class="e-course-description">
                  <p>{{course.description_short}}</p>
                </div>
                {# END COURSE DESCRIPTIONS #}

                {# BEGIN FACULTY MEMBERS - INSERT image if faculty member exists, if exists link to page #}
                {% if course.faculty_members %}
                    <div class="e-course-faculty">
                    {% for name in course.faculty_members %}              <p>Faculty Member: {{name}}</p>
                    {# {% if people|selectattr("fullName", "equalto", name)|first|isEmpty %}
                    {{("!!!! ERROR !!!!!: person cannot be found: " + name) |debug}}
                    {% else %}
                    {{ showPerson(people|selectattr("fullName", "equalto", name)|first, "m-mini-card") }}
                    {% endif %} #}
                    {% endfor %}
                    </div>
                {% endif %}
                {# END FACULTY MEMBERS #}

                {# BEGIN COURSE ACTIONS #}
                {% if course.actions %}
                    <p>COURSE ACTIONS</p>
                    <div class="e-course-controls">
                    {% for button in course.actions %}
                    <a class="e-button" href="{{button.link}}" target="_blank">ACTION: {{button.label}}</a>
                    {% endfor %}
                    </div>
                {% endif %}
                {# END COURSE ACTIONS #}

                {% if course.partner %}
                    <h5 class="e-partner">{{course.partner}}</h5>
                {% endif %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{# END WORKSHOPS LIST #}




{% endblock %}