// Workshops styles
.e-partner:before {
    content: "In partnership with ";
}

// ICONS for course page
.e-course-icons {
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.e-wrap {
    color: $white-70;
    font-size: 14px;
}


// Nav bar styling

.b-main-menu a {
    text-align: center;
}

.b-main-menu ul {
    list-style: none;
    text-align: center;
}

.b-main-nav .e-submenu ul {
    z-index: -10; 
    list-style: none;
}

.e-submenu {
    position: relative; 
    text-align: center;
    li {
        list-style: none;
    }
}


  .e-submenu ul .e-sub-item {
    list-style: none;
    display: block;
    border: 0;
    font-size: 14px;
    // text-transform: none;
    text-align: right;
    color: #6f5d8b;
    padding: 3px 18px; 
    // color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: 1px; 
    .a:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: white; 
  }
}


// FOOTER STYLES
.b-footer {
    background-color: $gray-80;
    color: $white-80;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 16px;

    @include breakpoint($desktop) {
        padding: 45px 0;

        .e-wrap {
            @include wrap;
            display: -webkit-flex;
            display: flex;
        }
    }
    .e-content {
        -webkit-flex: 1;
        flex: 1;
        &:nth-child(3n) { margin-right: 0; }

        @include breakpoint($desktop) { margin-right: 60px; }
            
        @include breakpoint($mobile-only) { text-align: center; }

        h4 {
            margin: 40px 0 0;
            font-weight: 600;
            text-transform: uppercase;
            color: $white
        }

        .e-partner-logo {
            display: block;


            > img { 
                max-width: 90%; 
                padding: 10px 0;
                max-height: 60px;
                opacity: .5;
                @include transition;

                &:hover {
                    opacity: 1;
                    @include transition;
                }   
            }

            &.m-google img {
                max-height: 50px;
                max-width: 70%;
            }

            &.m-mit img {
                max-height: 70px;
            }
        }
    }

.e-content.m-sections {
    a {
        display: block;
        box-sizing: border-box;
        color: $white-70;
        padding: 5px 10px;
        text-decoration: none;
        margin-left: -10px;
        margin-right: 10px;
        @include transition;
        

        @include breakpoint($desktop) { 
            display: inline-block; 
            width: 49%;
        }

        &:hover {
            color: $white;
            background-color: $white-10;
            @include transition;
            
        }
    }
}


}

.b-copyright {
    background-color: $gray-90;
    text-align: center;
    padding: 20px;

    @include breakpoint($desktop) {
        padding: 20px;
        text-align: left;
    }

    .e-wrap {
        @include wrap;
        color: $white-70;
        font-size: 14px;

        .e-cc-badge {
            margin-right: 25px;
            margin-top: 5px;
            @include breakpoint($mobile-only) { display: block; }
            @include breakpoint($desktop) { float: left; }
        }

        a {
            margin: 0;
            line-height: 1.2;
            color: $white-70;

            &:hover {
                color: $white;
            }
        }

    }
}


// ACADEMY SPECIFIC - EDIT HEAVILY
.e-logo {

}

.e-logo:after {
//     content: " Academy";
//     font-size: 28px;
}




// Content Colors Modifiers


// COACHING
// also uses $green_2


.m-project-coaching {
    background-color: $green !important;
}


// WORKSHOPS
// also uses blue, blue_2, blue_4

.m-workshops {
    background-color: $blue !important;
}

// MASTER CLASSES
// also uses $red, $red_2

.m-master-courses {
    background-color: $red !important;
}

// COURSES and CLINICS
.m-normal-courses {
    background-color: $yellow !important;
}


// HOMEPAGE

.b-signup {
    text-align: center;
    padding: 40px 0;
    margin-top: -20px;
    background-color: $gray_80;
    
    h3 {
        color: $white_50;
        margin-bottom: 0;
    }

    .e-tagline { 
        color: $white_70;
        margin-bottom: 40px;
    }
}

.b-signup.m-digest {
    background-color: $purple;
}


#digest {
    padding-top: 40px;
}


#demos-for-democracy {
    background-image: url("../img/demos-democracy-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: -20px;

    div { height: 150px; }
}





